.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  font-family:verdana;
}

.logo {
  height: 300px;
  width: auto;
}

#intro-section {
  text-align: center;
  font-family: Arial Black, Gadget, sans-serif;
}

#sponsors-heading {
  text-align: center;
}

#sponsors {
  text-align: center;
}

#contact-us {
  text-align: center
}

tr{
  font-family: Arial Black, Gadget, sans-serif;
}